### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total_Players = len(purchase_data["SN"].unique())
TP_df = pd.DataFrame({"Total Players":[Total_Players]})
TP_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Items = len(purchase_data['Item ID'].unique())
Average = purchase_data["Price"].mean()
Total_Revenue = purchase_data["Price"].sum()
Purchases = purchase_data['Purchase ID'].count()
P_A = pd.DataFrame({'Number of Unique Items':[Items],'Average Price':[Average],'Number of Purchases':[Purchases]
                    ,'Total Revenue':[Total_Revenue]})
P_A['Average Price'] = P_A['Average Price'].map("${:.2f}".format)
P_A['Total Revenue'] = P_A['Total Revenue'].map("${:.2f}".format)
P_A

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Players = purchase_data.loc[:,["SN","Gender"]]
Players = Players.drop_duplicates()
Gender_df = pd.DataFrame(Players["Gender"].value_counts())
Gender_df["Percentage of Players"] = Gender_df["Gender"]/Total_Players*100
Gender_df["Percentage of Players"] = Gender_df["Percentage of Players"].map("{:.2f}%".format)
Gender_df = Gender_df.rename(columns = {"Gender":"Total Count"})
Gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
Group_Gender = purchase_data.groupby("Gender")
P_C = Group_Gender["Item ID"].count()
Aver_P = Group_Gender["Price"].mean()
T_P = Group_Gender["Price"].sum()

Gender_PA = pd.merge(P_C, Aver_P, on="Gender")
Gender_PA = pd.merge(Gender_PA, T_P, on="Gender")
Gender_PA = Gender_PA.rename(columns = {"Item ID":"Purchase Count", "Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"})
Gender_PA["Avg Total Purchase per Person"] = Gender_PA["Total Purchase Value"]/Gender_df["Total Count"]

Gender_PA["Total Purchase Value"] = Gender_PA["Total Purchase Value"].map("${:.2f}".format)
Gender_PA["Average Purchase Price"] = Gender_PA["Average Purchase Price"].map("${:.2f}".format)
Gender_PA["Avg Total Purchase per Person"] = Gender_PA["Avg Total Purchase per Person"].map("${:.2f}".format)

In [169]:
Gender_PA

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [95]:
age_bin = [0,9,14,19,24,29,34,39,100]
age_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_df = purchase_data.loc[:,["SN","Age"]]
age_df = age_df.drop_duplicates("SN")
age_df["Age label"] = pd.cut(age_df["Age"],age_bin, labels = age_label)

In [96]:
age_df = age_df.groupby("Age label").count().reset_index()
age_df = age_df.drop(columns = "SN")
age_df["Percentage of Players"] = age_df["Age"]/Total_Players*100
age_df = age_df.rename(columns = {"Age label":"","Age":"Total Count"})
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2f}%".format)
age_df = age_df.set_index("")
age_df

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
PA_age = purchase_data.loc[:,["Age","Price"]]
PA_age["Age Ranges"] = pd.cut(PA_age["Age"],age_bin, labels = age_label)
PA_age_grouped = PA_age.groupby("Age Ranges")
PA_age = PA_age_grouped.count()

In [105]:
PA_age = PA_age.drop(columns = ["Price"])
PA_age = PA_age.rename(columns = {"Age":"Purchase Count"})
PA_age["Average Purchase Price"] = PA_age_grouped["Price"].mean()
PA_age["Total Purchase Value"] = PA_age_grouped["Price"].sum()
PA_age["Avg Total Purchase per Person"] =PA_age["Total Purchase Value"]/ age_df["Total Count"]

PA_age["Total Purchase Value"] = PA_age["Total Purchase Value"].map("${:.2f}".format)
PA_age["Average Purchase Price"] = PA_age["Average Purchase Price"].map("${:.2f}".format)
PA_age["Avg Total Purchase per Person"] = PA_age["Avg Total Purchase per Person"].map("${:.2f}".format)

In [107]:
PA_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [122]:
Top_Spenders = purchase_data.loc[:,["SN","Price"]]
Top_Grouped = Top_Spenders.groupby("SN")
Top_Spenders = Top_Grouped.count()
Top_Spenders["Average Purchase Price"] = Top_Grouped["Price"].mean()
Top_Spenders["Total Purchase Value"] = Top_Grouped["Price"].sum()

Top_Spenders = Top_Spenders.sort_values("Total Purchase Value", ascending=False)
Top_Spenders["Total Purchase Value"] = Top_Spenders["Total Purchase Value"].map("${:.2f}".format)
Top_Spenders["Average Purchase Price"] = Top_Spenders["Average Purchase Price"].map("${:.2f}".format)

In [123]:
Top_Spenders.head()

             Price Average Purchase Price Total Purchase Value
SN
Lisosia93        5                  $3.79               $18.96
Idastidru52      4                  $3.86               $15.45
Chamjask73       3                  $4.61               $13.83
Iral74           4                  $3.40               $13.62
Iskadarya95      3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [208]:
Item_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]
Grouped_Item = Item_df.groupby("Item ID")
PC = Grouped_Item["Price"].count()
TPV = Grouped_Item["Price"].sum()
PR = Grouped_Item["Price"].mean()

Item_df = Item_df.drop_duplicates("Item ID")
Item_df = Item_df.drop(columns=["Price"])

Item_df = pd.merge(Item_df, PC, on="Item ID")
Item_df = pd.merge(Item_df, PR, on="Item ID")
Item_df = pd.merge(Item_df, TPV, on="Item ID")

Item_df = Item_df.set_index("Item ID")
Item_df = Item_df.rename(columns = {"Price_x":"Purchase Count","Price_y":"Item Price","Price":"Total Purchase Value"})

Item_df = Item_df.sort_values(["Purchase Count","Item ID"], ascending=False)
Item_df["Item Price"] = Item_df["Item Price"].map("${:.2f}".format)
Item_df["Total Purchase Value"] = Item_df["Total Purchase Value"].map("${:.2f}".format)

In [209]:
Item_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [210]:
MostProfit = Item_df.copy()

MostProfit["Total Purchase Value"]=MostProfit["Total Purchase Value"].str.replace("$","",regex=True).astype(float)

MostProfit = MostProfit.sort_values("Total Purchase Value", ascending = False)

MostProfit["Total Purchase Value"] = MostProfit["Total Purchase Value"].map("${:.2f}".format)

In [212]:
MostProfit.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80